nav {
    background-color: #333;
    height: 50px;
    display: flex;
    justify-content:flex-start;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
    margin-top:3px;
    
  }
  
  nav a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
   nav a:hover {
    background-color: burlywood;
    color:grey;
  }
  p{
    margin-left: 500px;
    color:darkgrey;
font-family: 'Abril Fatface', cursive;
  font-size:50px;
  }
   p:hover{
    color:black;
    font-size:30px;
    transform: rotate(30); 
  }
  .home{
    width:100px;
    height:100px;
    margin-top:5px;
  }
  .header{
    display: flex;
    background-color: grey;
    
  }
  .container{
    background-color: darkgrey;
    border:2px solid black;
    border-top: none;
    box-shadow: 1px 1px 1px 1px black;
    display: flex;
    justify-content: space-evenly;
    
  }
  .container a{
    text-decoration: none;
  }
  .flex1{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
  }
  .house{
    width:150px;
    height:150px;
    border-radius: 4px;
    box-shadow: #333;
  }
  h4 {
    text-shadow: 2px 2px 4px #000000;
    color:white;
  }
  h4:hover{
    color:burlywood;
  }
  
  
  
  .sofa{
    width:50px;
    height:50px;
    object-fit: cover;
    flex-wrap: wrap;
    margin-top:3px;
  }
  
  .dreamhome{
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    margin-top:50px;
    margin-left:200px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px black;
  }
  .ending{
    display: flex;
    background-color:floralwhite;
    opacity: 1;
  }
  h3{
    background-color: black;
    color:white;
    text-align: center;
    text-shadow: #000000;
  }